@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

body {
    background-color: #9F01AE;
    position: relative;
    touch-action: none;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-image: url(../images/background-1.png);
    background-position: right bottom;
    background-size: 100% 100%;
}

.foreground{
    position: absolute;
    bottom: -137px;
    width: 100%;
    height: auto;
    max-width: 100%;
}

.placar {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    color: white;
}

.placar h3 {
    width: 100px;
    color: rgb(168, 20, 20);
}

.game-board {
    width: 100%;
    height: 85vh;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    background-image: url(../images/background.png);
    background-position: right bottom;
    background-size: contain;
}

.pipe {
    position: absolute;
    bottom: 0;
}

.coin {
    position: absolute;
    bottom: 0;
    width: 100px;
    height: 100px;
}

.coinsTransition {
    opacity: 1;
    transition: opacity 2.5s ease-in-out;
}

.pipeTransition{
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.mario {
    width: 180px;
    height: 180px;
    position: absolute;
    bottom: 0px;
}

.jump {
    animation: jump 800ms ease-out;
}

.clouds {
    width: 400px;
    position: absolute;
    animation: clouds 20s infinite linear;
    margin-top: 40px;
}

.clouds-stop {
    animation: none;
}

/* Estilo para o swal */
.swal-overlay {
    background-color: transparent;
}

.swal-modal {
    width: 50vw; /* Defina a largura do swal em relação à largura da viewport */
    max-width: 400px; /* Defina uma largura máxima */
    background-color: #fff; /* Cor de fundo */
    border-radius: 10px; /* Cantos arredondados */
    display: flex;
    flex-direction: column; /* Alinha o título e o texto verticalmente */
    align-items: center; /* Alinha o título e o texto horizontalmente */
}

.swal-title {
    font-size: 1.5em; /* Tamanho do título */
    color: #333; /* Cor do texto */
    margin-top: 20px; /* Espaço entre o topo do swal e o título */
}

.swal-text {
    font-size: 1.2em; /* Tamanho do texto */
    color: #666; /* Cor do texto */
    margin-bottom: 20px; /* Espaço entre o texto e os botões */
}

.swal-button {
    font-size: 1.2em; /* Tamanho do botão */
    background-color: #4CAF50; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    border: none; /* Sem borda */
    border-radius: 5px; /* Cantos arredondados */
    padding: 30px 40px; /* Espaçamento interno */
    margin: 10px; /* Margem */
    cursor: pointer; /* Cursor ao passar por cima */
}

.swal-button:hover {
    background-color: #45a049; /* Cor de fundo do botão ao passar por cima */
}

@keyframes clouds {
    from {
        right: -400px;
    }
    to {
        right: 100%;
    }
}

@keyframes jump {
    0%, 100% {
        bottom: 0;
    }
    40% {
        bottom: 90vh;
    }
}

@media screen and (max-width: 600px) {
    .jump {
        animation: jump 2s ease-out;
    }
}

@media screen and (min-width: 601px) and (max-width: 90%) {
    .jump {
        animation: jump 4s ease-out;
    }
}